{
  "dly": {
    "action": "view_daily"
  },
  "dle": {
    "action": "edit_daily"
  },
  "h2o": {
    "action": "add_water",
    "delta": 64,
    "dry_run": true
  },
  "new": {
    "action": "new_file"
  },
  "mac": {
    "action": "open_on_mac"
  },
  "agent": {
    "action": "spawn_agent"
  }
}
